div.headlines_normal {
	position : absolute;
	border-width : 1px 1px 0px 0px;
	right : 400px;
	overflow : hidden;
	bottom : 40px;
	height : auto;
}

#content-frame {
	width : 400px;
	right : 0px;
	top : 85px;
	left : auto;
	border-width : 1px 0px 0px 1px;
}

div.postHeader div.postDate {
	text-align : left;
	color : gray;
	float : none;
}

div.postHeader div.postDateRTL {
	text-align : left;
	color : gray;
	float : none;
}

span.headlineInnerTitle {
	display : none;
}

#resize-grabber {
	height : 100%;
	width : 5px;
	border-width : 0px 1px 0px 0px;
	cursor : move;
	text-align : center;
	float : left;
	background : url("images/resize_vert.png") top left;
}

#content-insert {
	position : absolute;
	left : 6px;
	right : 0px;
	bottom : 0px;
	top : 0px; 

}
