body {
	background : #f6f6f6;
}

a:hover {
	color : gray;
}

div.cdmArticle {
	border-width : 0px 0px 1px 0px;
	border-color : #999999;
	margin : 0px;
	background : #f9f9f9;
	-moz-border-radius : 0px;
}

div.cdmArticleUnread {
	border-width : 0px 0px 1px 0px;
	border-color : #999999;
	margin : 0px;
	background : white;
	-moz-border-radius : 0px;
}

div.cdmArticleSelected, div.cdmArticleUnreadSelected {
	border-width : 0px 0px 1px 0px;
	border-color : #999999;
	margin : 0px;
	background : #ffcccc;
	-moz-border-radius : 0px;
}

div.cdmArticleUnread div.cdmHeader a.title, 
div.cdmArticleUnreadSelected div.cdmHeader a.title {
	color : black;
}

div.cdmHeader a:hover {
	color : black;
}

.notify {
	border-color : #999;
	background-color : #f9f9f9;
	color : black;
	-moz-border-radius : 0px;
}

div.notice {
	background : #f9f9f9;
	border : 1px solid #999999;
}

div.warning {
	background : #ffcccc;
	border : 1px solid #ff0000;
}


ul.userFeedList, ul.browseFeedList, ul.labelTestResults {
	border : 1px solid #999999;
}

div.postReply {
	padding : 0px;
	margin : 0px;
	font-size : medium;
}

div.postReply a {
	color : black;
}

div.postReply a:hover {
	color : gray;
}

div.postReply div.postHeader {
	background : #f9f9f9;
	border-style : solid;
	border-color : #999999;
	border-width : 0px 0px 1px 0px;
	margin : 0px;
}

div.postReply > div.postHeader {
	padding : 5px;
}

.evenUnreadSelected, .evenSelectedUnread, .evenUnreadSelected td,
	.evenSelectedUnread td {
	background-color : #ffcccc;
	font-weight : bold;
	border-color : #ebebeb;
}

.oddUnreadSelected, .oddSelectedUnread, .oddUnreadSelected td,
	.oddSelectedUnread td {
	background-color : #ffcccc;
	font-weight : bold;
	border-color : #ebebeb;

}

.evenSelected, .evenSelected td {
	background-color : #ffcccc;
	border-color : #ebebeb;
}

.oddSelected, .oddSelected td {
	background-color : #ffcccc;
	border-color : #ebebeb;
}

.evenGrayed, .evenGrayed td {
	background-color : #f9f9f9;
	color : gray;
	border-color : #ebebeb;
}

.oddGrayed, .oddGrayed td {
	border-color : #ebebeb;
}

.oddGrayed {
	color : gray;
	background-color : #f9f9f9;
}

.even, .even td {
  	border-color : #ebebeb;
	background-color : #f9f9f9;
}

.odd, .odd td {
	background-color : #f9f9f9;
	border-color : #ebebeb;
}

.evenUnread, .evenUnread td {
	background-color : white;
	font-weight : bold;
	border-color : #ebebeb;
}

.oddUnread, .oddUnread td {
	font-weight : bold;
	border-color : #ebebeb;
}

ul.feedList {
	list-style-type : none;
	padding : 0px 0px 0px 5px;
	font-size : 9pt;
}

ul.feedList hr {
	border-width : 0px;
}

ul.feedList li.feedCat {
	margin : 0px;
	padding : 1px 0px 1px 0px;
	color : #707070;
	font-size : 9pt;
}

ul.feedList li.feedCat span.catTitle:hover {
	color : black;
}

ul.feedCatList {
	list-style-type : none;
	margin : 0px 0px 0px 15px;
	padding : 0px;  
}

ul.feedCatList li {
	margin : 0px;
	padding : 1px 0px 1px 0px;
	color : black;
}

ul.feedList img {
	vertical-align : bottom;
}

ul.feedList li {
	margin : 0px;
	padding : 2px 0px 2px 0px;
}


li.feedSelected a,
li.labelSelected a,
li.virtSelected a,
li.tagSelected a {
	color : gray;
}

li.feedUnreadSelected a,
li.labelUnreadSelected a,
li.virtUnreadSelected a,
li.tagUnreadSelected a {
	color : gray;
}

div.prefFeedCatHolder {
	border : 1px solid #999999;
}

table.prefFeedList td.feedEditCat {
	border-color : #999999;
}

table.prefFilterList td.filterEditCat {
	border-color : #999999;
}

tr.title td {
	color : gray;
	font-weight : bold;
}

tr.title td a {
	color : gray;
}

tr.title td a:hover {
	color : black;
}

span.contentPreview:hover {
	color : gray;
}

#dispSwitch a:hover {
	color : black;
}

#infoBoxTitle {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #999999;
	background : #f9f9f9;
	color : black;
}


#infoBox {	
	border-width : 1px 1px 1px 1px;
	border-style : solid;
	border-color : #999999;
	position : relative;
	bottom : 2px;
	right : 2px;
	padding-bottom : 5px;	
	background : #efefef;
}

div.infoBoxContents a {
	color : gray;
}

div.infoBoxContents a:hover {
	color : black;
}

#header {
	position : absolute;
	white-space: nowrap;
	top : 10px;
	left : 25px;
	right : 20px;
	height : 40px;
	color : gray;
}

#feeds-holder {
	border-width : 1px 1px 1px 1px;
	border-style : solid;
	border-color : #c0c0c0;
	top : 50px;
	left : 20px;
	position : absolute;
	width : 240px;
	overflow : auto;
	bottom : 30px;
	border-collapse : collapse;
	background : #f9f9f9;
}

#toolbar {
	position : absolute;
	left : 280px;
	padding : 0px 20px 10px 0px;
	top : 50px;
	right : 0px;
	white-space: nowrap;
	height : 30px;
	background-image : url("images/toolbar.png");
	background-position : bottom left;
	background-repeat : repeat-x;
}

div.headlines_normal {
	position : absolute;
	border-width : 1px 1px 1px 1px;
	border-style : solid;
	border-color : #999999;
	left : 280px;
	height : 305px;
	top : 85px;
	right : 20px;
	overflow : hidden;
	background : white;
	border-collapse : collapse;
}

div.headlines_cdm {
	position : absolute;
	border-width : 1px 1px 1px 1px;
	border-style : solid;
	border-color : #999;
	left : 280px;
	bottom : 30px;
	top : 85px;
	right : 20px;
	overflow : hidden;
	background : white;
	border-collapse : collapse;
}

#content-frame {
	position : absolute;
	border-width : 1px 1px 1px 1px;
	border-style : solid;
	border-color : #999999;
	background : white;
	overflow : auto;
	top : 410px;
	left : 280px;
	bottom : 30px;
	right : 20px;
	border-collapse : collapse;
}

#footer, #prefFooter {
	vertical-align : middle;
	display : block;
	position : absolute;
	bottom : 5px;
	text-align : center;
	color : gray;
	right : 0px;
	left : 0px;
	padding : 0px;
	border-width : 0px;
	background : #f6f6f6;
}

#footer a {
	color : gray;
}

#headlinesContainer {
	margin-left : 0px;
	background-color : white;
}

#headlineActionsTop {
/*	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	background-color : #fafafa; */
}

#headlinesInnerContainer {
	overflow : auto;
	position : absolute;
	left : 1px;
	right : 0px;
	bottom : 0px;
	top : 25px; 
}

div.firstTab {
	width : 20px;
	float : left;
}

div.prefsTab {
	border-color : #999999;
}

div.prefsTabSelected {
	border-color : #999999;
	background : white;
}

/* preferences layout */

#prefHeader {
	margin : 10px 10px 10px 25px;
	color : gray;
}

div.return {
	float : right;
	margin-right : 10px;
}

div.return a {
	color : black;
}

div.return a:hover {
	color : gray;
}

#prefContentOuter {
	clear : left;
	position : absolute;
	bottom : 30px;
	top : 75px;
	overflow : auto;
	left : 10px;
	right : 10px;
	padding : 1em;
	margin : 0px;
	background : white;
	border-width : 1px 1px 1px 1px;
	border-color : #999999;
	border-style : solid;
}

#prefContent {
	background : white;

}

.insensitive a {
	color : gray;
	text-decoration : underline;
}

.insensitive a:hover {
	color : black;
}

div.topLinks a {
	color : black;
}

div.topLinks a:hover {
	color : gray;
}

a.visibleLink {
	color : gray;
}

table.prefFilterList tr.even:hover td, 
table.prefFilterList tr.odd:hover td,
table.prefFilterList tr.evenSelected:hover td, 
table.prefFilterList tr.oddSelected:hover td 
table.prefLabelList tr.even:hover td, 
table.prefLabelList tr.odd:hover td,
table.prefLabelList tr.evenSelected:hover td, 
table.prefLabelList tr.oddSelected:hover td,
table.prefUserList tr.even:hover td, 
table.prefUserList tr.odd:hover td,
table.prefUserList tr.evenSelected:hover td, 
table.prefUserList tr.oddSelected:hover td,
table.prefFeedList tr.even:hover td, 
table.prefFeedList tr.odd:hover td,
table.prefFeedList tr.evenSelected:hover td, 
table.prefFeedList tr.oddSelected:hover td
{
	color : gray;
}

table.headlinesList tr.feedTitle td a, div.cdmFeedTitle a {
	color : gray;
}

table.headlinesList tr.feedTitle td {
	background : #efefef;
}

div.cdmFeedTitle {
	background : #efefef;
}

div.tagCloudContainer {
	border : 1px solid #999999;
}

#resize-grabber {
	border-color : gray;
	background : url("images/resize_horiz.png") top left;
}

table.prefPrefsList tr:hover td.prefValue {
	color : gray;
}

table.prefPrefsList tr:hover td.prefValue input {
	color : gray;
}

ul#headlineActionsBody li:hover {
	color : black;
	background : #ffcccc;
}

span#headlineActionsDrop {
	background : #f0f0f0;
	color : black;
}

