body {
	background : white;
	color : black;
	margin : 0px;
	padding : 0px;
	font-family : "Lucida Grande", Arial, sans-serif;
}

blockquote {
	margin : 0px;
	border-width : 0px 0px 0px 8px;
	border-color : #e0e0e0;
	border-style : solid;
	padding : 10px;
	background-color : #f0f0f0;
}

div.postReply {
	padding : 0px;
}

div.postReply a {
	color : #4684ff;
}

div.postReply a:hover {
	color : black;
}

div.postReply div.postHeader {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #a0a0a0;
	background-color : #f9faff;
	margin : 0px 1px 0px 0px;
	padding : 5px;
	cursor : move;
	color : #909090;
}

/* div.postReply > div.postHeader {
	padding : 5px;
} */

div.postReply div.postContent {
	padding : 10px;
	font-size : 14px;
}

div.postReply div.postContent img {
	border-width : 0px;
	max-width : 98%;
}

div.postReply div.postIcon {
	float : right;
	border : 0px;
	margin : 10px 0px 10px 10px;
}

div.postReply div.postEnclosures {
	margin-top : 1em;
	color : gray;
}

div.postReply img.tagsPic {
	width : 16px;
	height : 16px;
	margin-left : 4px;
	vertical-align : middle;
}

div.articleNote div.articleNoteOps {
	float : right;
	color : #9a8c59;
}

div.articleNote div.articleNoteOps a {
	color : #9a8c59;
}

div.articleNote div.articleNoteOps a:hover {
	color : black;
}

div.articleNote {
	background-color : #fff7d5;
	border-width : 1px;
	padding : 5px;
	border-style : dashed;
	border-color : #e7d796;
	font-size : 8px;
	margin-top : 5px;
	color : #9a8c59;
}

div.postReply span.author {
	font-size : 12px;
}

ul.feedList {
	list-style-type : none;
	margin : 5px 5px 5px 0px;
	padding : 0px 0px 0px 5px;
	font-size : 12px;
	font-family : "Lucida Grande", Tahoma, Arial, sans-serif;
}

ul.feedList li.feedCat, ul.feedList li.virtCat {
	margin : 0px;
	padding : 3px 0px 3px 0px;
	color : #707070;
	font-size : 12px;
}

ul.feedList img.catCollapse {
	cursor : pointer;
}

ul.feedList span.catTitle {
	color : #707070;
	cursor : pointer;
}

ul.feedList span.catTitle:hover {
	color : #4684ff;
}

ul.feedList li.feedCatSelected {
	margin : 0px;
	padding : 3px 0px 3px 0px;
	color : #4684ff;
	font-size : 12px;
}

ul.feedList li.feedCatSelected span.catTitle {
	color : #4684ff;
	cursor : pointer;
}

ul.feedCatList {
	list-style-type : none;
	margin : 0px 0px 0px 20px;
	padding : 0px;  
}

ul.feedCatList li {
	margin : 0px;
	padding : 0px 0px 2px 0px;
	color : black;
}

ul.feedList > li {
	padding : 0px 0px 2px 0px;
}

ul.feedCatList img, ul.feedList img {
	vertical-align : bottom;
}

li.feedUnread, 
li.errorUnread, 
li.labelUnread, 
li.virtUnread,
li.tagUnread {
	font-weight : bold;
}

li.errorSelected a,
li.error a,
li.errorUnread a,
li.errorUnreadSelected a {
	color : #f04040;
}

li.feedSelected a,
li.labelSelected a,
li.virtSelected a,
li.tagSelected a {
	color : #4684ff;
}

li.feedUnreadSelected a,
li.labelUnreadSelected a,
li.virtUnreadSelected a,
li.tagUnreadSelected a {
	color : #4684ff;
}

li.feedUnreadSelected,
li.errorUnreadSelected,
li.labelUnreadSelected,
li.virtUnreadSelected,
li.tagUnreadSelected {
	font-weight : bold;
}

li.feed {
	display : block;
}

ul.feedList img, img.tinyFeedIcon {
	margin : 0px 3px 0px 0px;
	width : 16px;
	height : 16px;
	border-width : 0px;
}

h1 {
	font-size : 18px;
}

h2 {
	font-size : 16px;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #ecf4ff;
}

h3 {
	font-size : 14px;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #ecf4ff;
}

hr {
	border-width : 0px 0px 1px 0px;
	border-style : dashed;
	border-color : #e0e0e0;
}

a {
	color : black;
	text-decoration : none;
}

a:hover {
	color : #4684ff;
}

#piggie {
	z-index : 999;
	position : absolute;
}

#iedit_title, #iedit_link, #iedit_regexp, #iedit_descr, #iedit_expr, #iedit_updintl,
#iedit_purgintl, #iedit_ulogin, #iedit_ulevel, #iedit_match, #iedit_feed,
#iedit_fcat, #iedit_filter_action, #iedit_login, #iedit_pass, #iedit_email,
#iedit_parent_feed {
	width : 100%;
	padding-left : 2px;
	background-color : #f0fff0;
}

textarea.iedit {
	width : 100%;
}

input.iedit {
	width : 100%;
	padding-left : 2px;
}

select.iedit {
	width : 100%;
}

input.editbox {
	width : 200px;
	padding-left : 2px;
}

#notify {
	border-width : 0px 1px 1px 1px;
	border-style : solid;
	top : 0px;
	right : 35%;
	min-width : 30%;
	position : absolute;	
	display : none;
	float : right;
	font-size : 12px;
	z-index : 998;
	padding : 5px 5px 5px 5px;
}

#notify img {
	vertical-align : middle;
}

.notifyProgress {
	border-color : #d7c47a;
	background-color : #fff7d5;
	color : black;
}

.notifyInfo {
	border-color : #7AD78E;
	background-color : #D5FFDB;
	color : black;
}

.notify {
	border-color : #d7c47a;
	background-color : #fff7d5;
	color : black;
}

.notifyError {
	background-color : #ffcccc;
	border-color : #ff0000;
	color : black;
}

.notifyError span:hover {
	color : red;
	cursor : pointer;
}

#dispSwitch {
	font-size : 12px;
	font-family : "Lucida Grande", Tahoma, Arial, sans-serif;
	text-align : right;
	float : right;
	margin : 5px 5px 0px 0px;
}

#dispSwitch a {
	color : gray;
}

#dispSwitch a:hover {
	color : #4684ff;
}

div.expPane {
	margin : 15px;
}

/*.button {
	border : 1px solid #d0d0d0;
	background-image : url("images/button.png");
	background-position : top;
	background-repeat : repeat-x;
	background-color : white;
	color : black;  
}

.button:hover {
	background : white;
	text-decoration : none;
	color : black;
}

.disabledButton {
	border : 1px solid #c0c0c0;
	background-color : white;
	color : gray;   
}

a.button {
	padding : 2px 5px 2px 5px;
	font-size : small;
} */

.evenUnreadSelected, .evenSelectedUnread, .evenUnreadSelected td,
	.evenSelectedUnread td {
	background-color : #fff7d5;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #e7d796;
}

.oddUnreadSelected, .oddSelectedUnread, .oddUnreadSelected td,
	.oddSelectedUnread td {
	background-color : #fff7d5;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #e7d796;
}

.evenSelected, .evenSelected td {
	background-color : #fff7d5;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #e7d796;
	border-collapse : collapse;
}

.oddSelected, .oddSelected td {
	background-color : #fff7d5;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #e7d796;
	border-collapse : collapse;
}

.evenGrayed, .evenGrayed td {
	background-color : #f0f0f0;
	color : #909090;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	border-collapse : collapse;
}

.oddGrayed {
	color : #909090;
}

.even, .even td {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	background-color : #f0f0f0;
	border-collapse : collapse;
}

.odd, .odd td {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	border-collapse : collapse;
}

.evenUnread, .evenUnread td {
	background-color : #f0f0f0;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	border-collapse : collapse;
}

.oddUnread, .oddUnread td {
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
}

.invisible {
	display : none;
}

/* preferences */

table.prefPrefsList tr:hover td.prefValue {
	color : #88b0f0;
}

table.prefPrefsList tr:hover td.prefValue input {
	color : #88b0f0;
}

tr.title td {
	border-width : 0px 0px 1px 0px;
	border-color : #ecf4ff;
	border-style : solid;
	color : #4684ff;
}

tr.title td a {
	color : #4684ff;
}

tr.title td a:hover {
	color : black;
}

div.feedEditSearch {
	float : right;
}

table.prefFeedList td.feedEditCat {
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #88b0f0;
	padding-top : 0.5em;
}

table.prefFilterList td.filterEditCat {
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #88b0f0;
	padding-top : 0.5em;
}

/* oh for the love of... */

table.prefFilterList tr.even,
table.prefFilterList tr.odd,
table.prefFilterList tr.evenSelected,
table.prefFilterList tr.oddSelected,
table.prefLabelList tr.even,
table.prefLabelList tr.odd,
table.prefLabelList tr.evenSelected,
table.prefLabelList tr.oddSelected,
table.prefUserList tr.even,
table.prefUserList tr.odd,
table.prefUserList tr.evenSelected,
table.prefUserList tr.oddSelected,
table.prefFeedList tr.even,
table.prefFeedList tr.odd,
table.prefFeedList tr.evenSelected,
table.prefFeedList tr.oddSelected
{	
	cursor : pointer;
}

table.prefFilterList tr.even:hover td, 
table.prefFilterList tr.odd:hover td,
table.prefFilterList tr.evenSelected:hover td, 
table.prefFilterList tr.oddSelected:hover td 
table.prefLabelList tr.even:hover td, 
table.prefLabelList tr.odd:hover td,
table.prefLabelList tr.evenSelected:hover td, 
table.prefLabelList tr.oddSelected:hover td,
table.prefUserList tr.even:hover td, 
table.prefUserList tr.odd:hover td,
table.prefUserList tr.evenSelected:hover td, 
table.prefUserList tr.oddSelected:hover td,
table.prefFeedList tr.even:hover td, 
table.prefFeedList tr.odd:hover td,
table.prefFeedList tr.evenSelected:hover td, 
table.prefFeedList tr.oddSelected:hover td
{
	color : #88b0f0;
}

table.prefFeedList td.feedIcon {
	text-align : center;
}

table.prefFeedList td.feedSelect {
	text-align : center;
}

div.prefFeedCatHolder {
	height : 250px;
	overflow : auto;
	border : 1px solid #99d67a;
	margin : 5px 0px 5px 0px;
	background-color : white;
}

a.helpLink {
	color : #808080;
}

a.helpLink:hover {
	color : #4684ff;
}

div.helpResponse {
	margin : 10px;
	background-image : url("images/vgrad_light_rev2.png");
	background-position : top left;
	background-repeat : repeat-x;
	padding : 10px 20px 10px 20px;
	border : 1px solid #f0f0f0;
}

#infoBoxTitle {
	border-width : 1px 1px 1px 1px;
	border-style : solid;
	border-color : #99d67a;
	background-color : #99d67a;
	padding : 4px 2px 4px 10px;
	color : white;
	font-weight : bold;
	font-size : 12px;
}

/* shadow stuff from http://www.sixapart.com/pronet/articles/ydsf_-_robust_c.html */

#infoBox {	
	border-width : 1px 1px 1px 1px;
	border-style : solid;
	border-color : #99d67a;
	background-color : #f8fcf5;
	position: relative;
	overflow : hidden;
	left : -4px;
	top : -4px;
}

div#errorBox {
	background-color : #ffcccc;
	border : 1px solid #ff0000;
	font-size : 12px;
	position: relative;
	overflow : hidden;
	left : -4px;
	top : -4px;
}


html>body #infoBox, html>body #errorBox {
	left : -10px;
	top : -10px;
	margin : 0;
}

#infoBoxShadow:before, #infoBoxShadow:after, 
#errorBoxShadow:before, #errorBoxShadow:after {
	content : " ";
	display : block;
	background : inherit;
	width : 10px;
	height : 10px;
}

#infoBoxShadow:before, #errorBoxShadow:before {
	position : absolute;
	top : 0;
	right : 0;
	margin : -10px 0 0 auto;
	background-position : right top;
}

#infoBoxShadow:after, #errorBoxShadow:after {
	margin : -10px 0 0 -10px;
	background-position : left bottom;
}


#infoBoxShadow, #errorBoxShadow {
	background-image : url("images/shadow.png");
	background-position : bottom right;
	left : 25%;
	top : 70px;
	width : 50%;
	position : absolute;
	min-width : 600px;
} 

#infoBoxShadow {
	z-index : 5;
}

#errorBoxShadow {
	z-index : 400;
}

div.infoBoxContents {
	padding : 10px;
	margin-bottom : 5px;
	font-size : 12px;
}

div.infoBoxContents td {
	font-size : 12px;
}

div.infoBoxContents a {
	color : #527040;
}

div.infoBoxContents a:hover {
	color : black;
}

div.helpResponse h1, div.infoBoxContents h1 {
/*        border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0; */
	font-size : 18px;
}

div.helpResponse h2, div.infoBoxContents h2 {
/*        border-width : 0px 0px 0px 0px; */
	font-size : 16px;
}

pre {
	margin : 5px;
}

input.extSearch {
	width : 100%;
}

div.firstTab {
	width : 10px;
	float : left;
}

div.prefsTab:hover {
	cursor : pointer;
}

div.prefsTabSelected:hover {
	cursor : pointer;
}

div.prefsTab {
	float : left;
	border-width : 1px 1px 0px 1px;
	border-color : #C4D1E4;
	border-style : solid;
	margin : 0px 0px 0px 5px;
	padding : 3px 5px 3px 5px;
	font-size : 12px;
	font-family : "Lucida Grande", Tahoma, Arial, sans-serif;
	border-collapse : collapse;
	min-width : 100px;
	text-align : center;
	cursor : pointer;
	position : relative;
	bottom : -1px;
	height : 30px;
}

div.prefsTabSelected {
	float : left;
	border-width : 1px 1px 0px 1px;
	border-color : #88b0f0;
	border-style : solid;
	margin : 0px 0px 0px 5px;
	padding : 3px 5px 3px 5px;
	background-color : #ecf4ff;
	font-size : 12px;
	font-family : "Lucida Grande", Tahoma, Arial, sans-serif;
	border-collapse : collapse;
	font-weight : bold;
	min-width : 100px;
	text-align : center;
	cursor : pointer;
	position : relative;
	bottom : -1px;
	z-index : 3;
	height : 30px;
}

div.notice {
	background : #ffffff;
	border : 1px solid #88b0f0;
	width : 60%;
	padding : 5px;
	margin : 0px 0px 5px 0px;
	font-size : 12px;
}

div.warning {
	background : #fff7d5;
	border : 1px solid #d7c47a;
	font-size : 12px;
	width : 60%;
	padding : 5px;
	margin : 0px 0px 5px 0px;
}


div.warning img, div.notice img, div.error img {
	vertical-align : middle;
	padding : 5px;
}

span.filterDateError {
	color : #ff0000;
}

div.error {
	border : 1px solid #ff0000;
	background : #ffcccc;
	padding : 5px;
	margin : 0px 0px 5px 0px;
	font-size : 12px;
}

ul.nomarks {
	list-style-type : none;
	margin : 0px;
	padding : 10px; 
}

div.prefHelp, td.prefHelp {
	color : gray;
	padding : 5px;
}

table.loginForm {
	background-color : #ecf4ff;
}

table.innerLoginForm {
	border : 1px solid #88b0f0;
	padding : 50px;
	background-color : white;
}

table.innerLoginForm td {
	padding : 3px 3px 5px 3px;
}

span.feed_error {
	color : red;
}

.insensitive {
	color : gray;
}

.insensitive a {
	color : #4684ff;
}

.insensitive a:hover {
	color : black;
}

/* .prefGenericAddBox {
	font-size : 12px;
} */

body.logoutBody {
	background-color : #f0f0f0;
	color : black;
}

span.logoutWarning {
	color : red;
	font-weight : bold;
}

div.logoutContent {
	width : 600px;
	border : 1px solid #c0c0c0;
	background-color : white;
	margin-left : auto;
	margin-right : auto;
	margin-top : 20px;
	padding : 10px;
}

.small {
	font-size : 12px;
}

table.innerFeedTable td {
	margin : 0px;
	padding : 0px;
}

td.selectPrompt {
	font-size : 12px;
	color : gray;
}

div.headlinesSubToolbar {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #f0f0f0;
	position : absolute;
	left : 0px;
	top : 0px;
	height : 25px;
	line-height : 25px;
	padding-left : 5px;
	padding-right : 5px;
	right : 0px;
	background-color : white;
	font-size : 11px;
	font-family : "Lucida Grande", Tahoma, Arial, sans-serif;
	color : gray;
}

div.headlinesSubToolbar * {
	line-height : normal;
}


div.headlinesSubToolbar div#subtoolbar_ftitle {
	float : right;
	line-height : 25px;

}

span.contentPreview {
	font-size : 12px;
	color : gray;
	font-weight : normal;
}

span.contentPreview:hover {
	color : #4684ff;
}

table.headlinesList {
	width : 100%;
}

table.headlinesList span.hlLabelRef, div.cdmHeader span.hlLabelRef {
	background-color : #fff7d5;	
	font-height : 8px;
	color : #063064;
	font-weight : normal;
	margin : 0px 3px 0px 3px;
	padding : 0px 4px 0px 4px;
	white-space: nowrap;
}

table.headlinesList td.hlFeedIcon {
	width : 25px;
	text-align : center;
	cursor : pointer;
}


table.headlinesList td.hlMarkedPic {
	width : 25px;
	text-align : center;
}

table.headlinesList td.hlfeed {
	text-align : right;
}

td.hlSelectRow, td.hlUpdPic {
	width : 25px;
	text-align : center;
}

table.headlinesList td.hlUpdated {
	color : gray;
	text-align : right;
	width : 100px;
	cursor : pointer;
}

table.headlinesList tr td {
	padding : 2px 0px 2px 0px;
}

div.postHeader div.postDate {
	text-align : right;
	color : gray;
	float : right;
}

div.postHeader div.postDateRTL {
	text-align : left;
	color : gray;
	float : right;
}

div.postHeader div {
	padding-bottom : 3px;
	font-size : 12px;
	/* font-family : "Lucida Grande", Tahoma, sans-serif; */
}

#feedUpdateErrors {
	display : none;
}

#allEntryTags {
	font-size : 12px;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	padding-bottom : 5px;
	display : none;
}

/*td.hlContent {
	overflow : hidden;
	height : 1em;
	display : block;
} */

td.hlMarkedPic, td.hlSelectRow, td.hlUpdated, td.hlFeed {
	height : 1em;
}

td.hlFeed {
	text-align : right;
}

span.hlFeed, span.hlFeed a {
	font-size : 12px;
	color : gray;
}

span.hlFeed a:hover {
	color : #4684ff;
}

/* div.cdmArticle:hover {
	background-color : white;
} */

div.cdmAllTags {
	float : left;
	background-color : white;
	border : 1px solid #c0c0c0;
	display : none;
	z-index : 3;
	top : auto;
	left : auto;
	right : auto;
	position : absolute;
	padding : 10px;
}

span.cdmAllTagsCtr:hover div {
	display : block;
}

div.cdmArticle {
	border-color : #a0a0a0;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	background-color : #f9faff;
	margin : 0px;
	color : #505050;
	/* padding : 10px; */
	color : black;

}

/* div.cdmArticleUnread:hover {
	background-color : white;
} */

div.cdmArticleUnread {
	border-color : #a0a0a0;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	background-color : white;
	margin : 0px;
	/* padding : 10px; */
	color : black;
}

div.cdmArticleSelected, div.cdmArticleUnreadSelected {
	margin : 0px;
	background-color : #fff7d5;
	border-color : #e7d796;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
}

div.cdmArticleUnread div.cdmHeader a.title, 
div.cdmArticleUnreadSelected div.cdmHeader a.title {
	font-weight : bold;
}

div.cdmHeader {
	padding : 5px 5px 10px 5px;
	color : gray;

}

div.cdmArticleUnread div.cdmHeader span.titleWrap a {
	color : black;
}

div.cdmFooter {
	font-size : 12px;
	color : black;
	padding : 5px;
	color : gray;
/*	background-color : white; */
	border-width : 1px 0px 0px 0px;
	border-color : #c0c0c0;
	border-style : dotted;
}

/*div.cdmArticleSelected div.cdmFooter {
	background-color : transparent;
}

div.cdmArticleUnreadSelected div.cdmFooter {
	background-color : transparent;
}*/

div.cdmFooter span.s0 {
	border-width : 0px 1px 0px 0px;
	border-color : #c0c0c0;
	border-style : dotted;
	padding : 0px 5px 0px 0px;
}

div.cdmFooter span.s1 {
	border-width : 0px 1px 0px 0px;
	border-color : #c0c0c0;
	border-style : dotted;
	padding : 0px 5px 0px 5px;
}

div.cdmFooter span.s2 {
	padding : 0px 5px 0px 5px;
}

div.cdmFooter img.markedPic, div.cdmFooter img.tagsPic {
	width : 16px;
	height : 16px;
	vertical-align : middle;
}

img.markedPic {
	cursor : pointer;
}

div.cdmHeader div.articleUpdated {
	float : right;
	font-weight : bold;
	color : gray;
}

div.cdmHeader div.articleUpdated img {
	vertical-align : middle;
}

div.cdmFooter input, div.cdmHeader input, div.cdmFooter img {
	margin : 0px;
}

div.cdmHeader, div.cdmHeader a {
	color : #505050;
	font-size : 12px;
}

div.cdmHeader a:hover {
	color : #4684ff;
}

div.cdmContent {
	margin : 0px 15px 5px 15px;
}

div.cdmContent img {
	border-width : 0px;
	max-width : 98%;
}

div.cdmContent:hover {
	cursor : pointer;
}

div.cdmExcerpt {
	margin : 0px 15px 5px 15px;
}

div.cdmExcerpt:hover {
	cursor : pointer;
	color : #88b0f0;
}

div.cdmEnclosures {
	margin-top : 1em;
	color : gray;
}

a.warning {
	color : #f04040;
}

img.closeButton {
	border-width : 0px;
	float : right;
}

span.groupPrompt {
	font-size : 12px;
	color : #4684ff;
}

div.tagCloudContainer {
/*	height : 300px;
	overflow : auto; */
	border : 1px solid #99d67a;
	background-color : white;
	margin : 5px 0px 5px 0px;
	padding : 5px;
	text-align : center;
}

div.errorExplained {
	border : 1px solid #99d67a;
	background-color : white;
	margin : 5px 0px 5px 0px;
	padding : 5px;
}

ul.feedErrorsList {
	height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #99d67a;
	background-color : white;
	margin : 0px 0px 5px 0px;
	padding : 0px;
}

ul.userFeedList {
	height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #99d67a;
	background-color : white;
	margin : 0px 0px 5px 0px;
	padding : 0px;
}

/* #browseBigFeedList li.oddSelected {
	border : 1px solid #d0d0f6;
	background-color : #eaeaff;
	-moz-border-radius : 5px;
} */

/*#browseBigFeedList li {
	padding :0px;
}*/

div.labelTestError {
	margin : 5px 0px 5px 0px;
	color : #f04040;
}

ul.labelTestResults {
	height : 100px;
	overflow : auto;
	list-style-type : none;
	margin : 0px 0px 5px 0px;
	padding : 0px;
	border : 1px solid #99d67a;
	background-color : white;
}

ul.filterTestResults {
	height : 300px;
	overflow : auto;
	list-style-type : none;
	margin : 0px 0px 5px 0px;
	padding : 0px;
	border : 1px solid #99d67a;
	background-color : white;
}

ul.browseFeedList {
	height : 300px;
	overflow : auto;
	list-style-type : none;
	margin : 0px 0px 5px 0px;
	padding : 0px;
	border : 1px solid #99d67a;
	background-color : white;
}

ul.browseFeedList li {
	margin : 0px;
	padding : 0px;
}

span.subscribers {
	color : #808080;
}

div.subscribers {
	color : #808080;
	font-size : 12px;
	float : right;
}

input.feedBrowseCB {
	margin-right : 1em;
}

div.browserDetails {
	margin : 5px 5px 5px 5px;
	padding : 5px;
}

ul.compact {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

ul.compact li {
	margin : 0px;
	padding : 0px;
}

div.browserFeedInfo {
	font-size : 12px;
/*	border : 1px solid #88b0f0;
	background-color : #ecf4ff;
	-moz-border-radius : 5px; */
	padding : 5px;
}

div.browserFeedInfo div.detailsPart {
	margin : 5px 0px 5px 5px;       
}

div.cdmContent a {
	color : #4684ff;
}

div.cdmContent a:hover {
	color : black;
}

a.cdmToggleLink {
	color : #808080;
	font-size : 12px;
}

a.cdmToggleLink:hover {
	color : #4684ff;
}

.noborder {
	border-width : 0px;
}

#debug_output {
	position : absolute;
	width : 400px;
	height : 200px;
	right : 20px;
	bottom : 20px;
	z-index : 999;
	background-color : white;
	border : 1px solid #c0c0c0;
	overflow : auto;
	margin : 0px;
	padding : 0px;
	list-style-type : none;
}

#debug_output li {
	margin : 0px;
	padding : 0px;
	font-size : 11px;
}

#dialog_overlay {
	left : 0;
	top : 0;
	height : 100%;
	width : 100%;
	z-index : 4;
	position : absolute;
	background-image : url("images/shadow_white.png");
}

#overlay {
	background : white;
	left : 0;
	top : 0;
	height : 100%;
	width : 100%;
	z-index : 100;
	position : absolute;
}

#overlay_inner {
	font-weight : bold;
	margin : 10px;
}

#noDaemonWarning {	
	position : absolute;
	background-color : #ecf4ff;		  
	border : 1px solid #88b0f0;
	padding : 10px;
	margin : 5px;
	z-index : 2;
	display : none;
}

#qafInput {
	width : 100%;
}

form {
	margin : 0px;
	padding : 0px;
}

#main_toolbar_form {
	margin : 0px;
	padding : 0px;
	display : inline;
}

div.feedExtInfo {
	margin-left : 2em;
	font-size : 7pt;
	color : gray;
	font-weight : normal;
}

span.debugTS {
	color : #4684ff;
}

#backReqBox {
	display : none;
}

/*.scriptWarn:before {
	content : "Disabled script:";
}*/

.scriptWarn {
	color : white;
	background-color : #903030;
	border : 1px solid #601010;
	padding : 3px;
	font-weight : bold;
	display : none;
}

.objectWarn {
	color : gray;
	font-style: italic;
	text-align : center;
}

table.loginForm2 {
	padding : 1em;
}

table.loginForm2 .loginTop {
	border-width : 0px 0px 1px 0px;
	border-color : #88b0f0;
	border-style : solid;
	padding : 0.5em;
}

table.loginForm2 .loginMiddle {
	padding : 3em;
}

table.loginForm2 .loginBottom {
	border-width : 1px 0px 0px 0px;
	border-color : #88b0f0;
	border-style : solid;
	font-size : 12px;
	text-align : center;
	color : #909090;
	padding : 0.5em;
}

table.loginForm2 .loginBottom a {
	color : gray;
}

table.loginForm2 .loginBottom a:hover {
	color : #4684ff;
}

table.loginForm2 .loginError {
	color : red;
	margin : 0.5em;
}

table.loginForm2 .innerLoginCell {
	padding-top : 0.5em;
}

#milestoneDetails {
	display : none;
}

div.loadingPrompt {
	padding : 1em;
	text-align : center;
	font-weight : bold;
}

div.whiteBox {
	background-color : white;
	margin-left : 1px;
	text-align : center;
	padding : 1em;
}

/* layout */

#header {
	position : absolute;
	white-space: nowrap;
	top : 5px;
	left : 15px;
	right : 5px;
	height : 35px;
	color : #4684ff;
	font-size : 12px;
}

#feeds-holder {
	border-width : 1px 1px 0px 0px;
	border-style : dotted solid;
	border-color : #88b0f0;
	top : 40px;
	left : 0px;
	position : absolute;
	width : 260px;
	overflow : auto;
	bottom : 0px;
	border-collapse : collapse;
}

#toolbar {
	position : absolute;
	left : 261px;
	padding : 0px 0px 0px 10px;
	top : 40px;
	right : 0px;
	white-space: nowrap;
	height : 30px;
	background-image : url("images/toolbar.png");
	background-position : bottom left;
	background-repeat : repeat-x;
	font-size : 12px;
}

div.headlines_normal {
	position : absolute;
	border-width : 1px 0px 0px 0px;
	border-style : solid;
	border-color : #88b0f0;
	left : 261px;
	height : 305px;
	top : 70px;
	right : 0px;
	overflow : hidden;
	font-size : 12px;
	border-collapse : collapse;
}

div.headlines_cdm {
	position : absolute;
	border-width : 1px 0px 1px 0px;
	border-style : solid;
	border-color : #88b0f0;
	left : 261px;
	bottom : 40px;
	top : 70px;
	right : 0px;
	overflow : hidden;
	font-size : 12px;
	border-collapse : collapse;
}

#content-frame {
	position : absolute;
	border-width : 1px 0px 0px 0px;
	border-style : solid;
	border-color : #88b0f0;
	overflow : auto;
	top : 390px;
	left : 261px;
	bottom : 40px;
	right : 0px;
	border-collapse : collapse;
}

/*#resize-grabber {
	position : absolute;
	border-width : 1px;
	border-style : dotted;
	border-color : #88b0f0;
	background-color : white;
	width : 8px;
	height : 8px;
	z-index : 20;
	right : 20px;
	top : 20px;
	display : none;
	cursor : move;
}*/

#resize-grabber {
	height : 5px;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #88b0f0;
	background : url("images/resize_horiz.png") top left;
	cursor : move;
	text-align : center;
}

#footer, #prefFooter {
	position : absolute;
	bottom : 0px;
	height : 20px;
	text-align : center;
	color : gray;
	font-size : 12px;
	background-image : url("images/footer.png");
	background-position : top left;
	background-repeat : repeat-x; 
	background-color : white;
	right : 0px;
	left : 261px;
	padding : 10px;
	border-collapse : collapse;
	border-width : 1px 0px 0px 0px;
	border-style : solid;
	border-color : #88b0f0;

}

#prefFooter {
	left : 0px;
}

#footer a, #prefFooter a {
	color : gray;
}

#footer a:hover, #prefFooter a:hover {
	color : black;
}

#headlinesContainer {
	margin-left : 0px;
	background-color : white;
}

#headlineActionsTop {
/*	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	background-color : #fafafa; */
	font-size : 12px;
}

#headlinesInnerContainer {
	overflow : auto;
	position : absolute;
	left : 0px;
	right : 0px;
	bottom : 0px;
	top : 25px; 
}

/* preferences layout */

#prefHeader {
	color : #4684ff;
	font-size : 12px;
	margin : 10px;
	height : 33px;
}

div.return {
	float : right;
	font-size : 12px;
	margin-right : 10px;
}

div.return a {
	color : #4684ff;
}

div.return a:hover {
	color : black;
}

#prefContentOuter {
	clear : left;
	position : absolute;
	bottom : 41px;
	top : 75px;
	left : 0px;
	right : 0px;
	min-height : 300px;
	border-width : 1px 0px 0px 0px;
	border-color : #88b0f0;
	border-style : solid;
	font-size : 12px;
}

#prefContent {
	z-index : 4;
	background-image : url("images/prefs-content.png");
	background-position : top left;
	background-repeat : repeat-x;
	position : absolute;
	bottom : 0px;
	top : 0px;
	left : 0px;
	right : 0px;
	padding : 1em;
	overflow : auto;

}

#userSwitch {
	position : absolute;
	bottom : 2px;
	right : 2px;
}

a.feedUpdErrLink {
	color : #ff0000;
	display : block;
	margin-bottom : 0.5em;
}

.catCtrHasUnread, .feedCtrHasUnread {
	font-weight : bold;
	color : #707070;
}

.catCtrNoUnread, .feedCtrNoUnread {
	display : none;
}

div.topLinks img {
	vertical-align : middle;
	cursor : pointer;
}

#offlineModePic {
	margin-left : 5px;
}

a.helpLinkPic {
	float : right;
}

a.helpLinkPic img {
	border-width : 0px;
}

#fadd_login_container {
}

li.feedCatHolder {
	display : inline;
}

table.prefFeedCatList {
	background-color : white;
}

/*a[target="_new"], a[target="_blank"] {
	border-width : 0px 0px 1px 0px;
	border-color : #778899;
	border-style : dotted;
}*/

div.autocomplete {
	position : absolute;
	width : 250px;
	background-color : white;
	border :1px solid #778899;
	margin : 0px;
	padding : 0px;
}

div.autocomplete ul {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

div.autocomplete ul li.selected { 
	background-color : #fff7d5;
}

div.autocomplete ul li {
	list-style-type : none;
	display : block;
	margin : 0;
	padding : 2px;
	height : 32px;
	cursor : pointer;
}

#feedOpToolbar {
	float : right;
}

div.topLinks {
	float : right;
	color : gray;
}

div.topLinks a {
	color : #4684ff;	
}

div.topLinks a:hover {
	color : black;
}

div.topLinks a.feedback {
	color : #009900;
}

div.dashboard {
	margin-left : 3px;
}

a.visibleLink {
	color : #4684ff;

}

a.visibleLinkB {
	color : #4684ff;
	border : 1px solid #4684ff;
	padding : 2px;
}

a.visibleLinkB:hover {
	background-color : #ecf4ff;
}

table.headlinesList tr.feedTitle td a, div.cdmFeedTitle a {
	color : #4684ff;
}

div.cdmFeedTitle {
	border-color : #a0a0a0;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	padding : 5px 3px 5px 5px;
	background : url("images/toolbar.png") bottom left;
	background-repeat : repeat-x;
}

table.headlinesList tr, table.headlinesList td {
	border-collapse : collapse;
	margin : 0px;
}

table.headlinesList tr.feedTitle td {
/*	text-align : right;
	margin-top : 10px; */
	/*padding-left : 5px;*/

	background : url("images/toolbar.png") bottom left;
	background-repeat : repeat-x;

	border-color : #c0c0c0;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	padding : 5px 3px 5px 5px;

}

td.hlContent, td.hlContentL, td.hlContentH {
	cursor : pointer;
}

td.hlContentH a, td.hlContentH span {
	color : #00cc00;
}

td.hlContentL a, td.hlContentL span {
	color : #909090;
	text-decoration : line-through;
}

span.titleWrapH, span.titleWrapH a {
	color : #00cc00;
}

span.titleWrapL, span.titleWrapL a {
	color : #909090;
	text-decoration : line-through;
}

img.hlScorePic {
	vertical-align : middle;
	width : 16px;
	height : 16px;
}

div#hotkey_help_overlay {
	position : absolute;
	left : 30px;
	right : 30px;
	top : 30px;
	z-index : 999;
	color : white;
	font-size : 15px;
}

div#hotkey_help_overlay h1 {
	text-align : center;
}

div#hotkey_help_overlay ul {
	list-style-type : none;
	margin : 0px;
}

div#hotkey_help_overlay li {
	margin : 0px;
}

div#hotkey_help_overlay p {
	text-align : center;
}

div#hotkey_help_overlay td.n {
	text-align : right;
	font-weight : bold;
	width : 6em;
	color : #a0ffa0;
	padding-right : 5px;
}

div#hotkey_help_overlay td {
	vertical-align : top;
}

div#hotkey_help_overlay h1 {
	margin : 0px;
}

div#hotkey_help_overlay h2 {
	font-size : 16px;
	border-width : 0px;
	margin : 0.3em 0px 0.3em 0px;
	text-align : center;
	color : #88b0f0;
}

div#hotkey_help_overlay table.hho td.c1 {
	height : 30px;
	width : 30px;
	background : url("images/c1.png");
	background-repeat : no-repeat;

}

div#hotkey_help_overlay table.hho td.c2 {
	height : 30px;
	width : 30px;
	background : url("images/c2.png");
	background-repeat : no-repeat;
}

div#hotkey_help_overlay table.hho td.c3 {
	height : 30px;
	width : 30px;
	background : url("images/c3.png");
	background-repeat : no-repeat;
}

div#hotkey_help_overlay table.hho td.c4 {
	height : 30px;
	width : 30px;
	background : url("images/c4.png");
	background-repeat : no-repeat;
}

div#hotkey_help_overlay table.hho td.top,
div#hotkey_help_overlay table.hho td.left,
div#hotkey_help_overlay table.hho td.right,
div#hotkey_help_overlay table.hho td.bottom,
div#hotkey_help_overlay table.hho td.content {
	background : url("images/shadow_dark.png");	
}

div#hotkey_help_overlay table.hho td.top,
div#hotkey_help_overlay table.hho td.bottom {
	text-align : center;
	font-size : 13px;
}

div.prefKbdHelp {
	float : right;
	font-size : 12px;
	margin-right : 15px;
}

div.prefKbdHelp img {
	vertical-align : middle;
}

div#l_progress_o {
	width : 200px;
	border : 1px solid black;
	background-color : white;
	margin-top : 10px;
}

div#l_progress_i {
	width : 10px;
	background-color : #88b0f0;
	height : 10px;
}

#content-insert {
	background-color : white;
	overflow : auto;
	position : absolute;
	left : 0px;
	right : 0px;
	bottom : 0px;
	top : 6px; 
}

div.dlgSec {
	font-size : 14px;
	color : gray;
	font-weight : bold;
	clear : both;
	height : 20px;
}

div.dlgSecCont {
	position : relative;
	left : 150px;
	top : -20px;
	float : left;
	font-size : 12px;
	font-weight : normal;
	line-height : 200%;
}

div.dlgButtons {
	text-align : right;
	clear : both;
}

div#label_test_result {
	clear : both;
}

pre, code {
	font-size : 12px;
	font-family : monospace;
}

span#headlineActionsDrop {
	border : 1px solid #c0c0c0;
	padding : 1px 5px 1px 10px;
	color : #063064;
	cursor : pointer;
}

ul#headlineActionsBody {
	list-style-type : none;
	position : absolute;
	margin : 0px;
	padding : 0px;
	background-color : white;
	width : 150px;
	z-index : 4;
	top : auto;
	left : auto;
	border-width : 1px 1px 1px 1px;
	border-color : #c0c0c0;
	border-style : solid;
	margin-left : -1px;
	max-height : 250px;
	overflow : auto;
}

ul#headlineActionsBody li {
	padding : 2px 5px 2px 10px;
	color : black;
}

ul#headlineActionsBody li:hover {
	color : #4684ff;
	cursor : pointer;
	background : #ecf4ff;
}

ul#headlineActionsBody li.insensitive {
	color : gray;
}

ul#headlineActionsBody li.insensitive:hover {
	background : white;
	cursor : normal;
	color : gray;
}

div#errorBox div#xebTitle {
	background-color : #ff0000;
	color : white;
	padding : 4px 2px 4px 10px;
	color : white;
	font-weight : bold;
	font-size : 12px;
}

div#errorBox div#xebContent {
	font-size : 12px;
	padding : 10px;
}

div#errorBox textarea {
	width : 100%;
	height : 200px;
}

div#errorBox input {
	margin-bottom : 10px;
}

span.prefsLabelEntry {
	padding : 2px;
}

div.labelColorIndicator {
	height : 14px;
	width : 14px;
	line-height : 14px;
	font-height : 9px;
	text-align : center;
	border : 1px solid black;
	float : left;
	background-color : #fff7d5;	
	color : #063064;
	margin-right : 10px;
}

div.colorPicker div.colorPickerEntry:hover {
	border : 1px solid #88b0f0;
}

div.colorPicker div.ccPrompt:hover {
	color : black;
}

div.colorPicker div.colorPickerEntry {
	height : 15px;
	width : 15px;
	line-height : 13px;
	font-height : 9px;
	text-align : center;
	border : 1px solid black;
	margin : 5px 5px 0px 0px;
	float : left;
}

div.colorPicker {
	border : 1px solid #cccccc;
	background : #f0f0f0;
	width : 110px;
	padding : 0px 0px 5px 5px;
	position : absolute;
	left : auto;
	top : auto;
	z-index : 3;
	color : #909090;
}

div#offlineModeDrop div {
	padding : 2px 2px 2px 2px;
	text-align : left;
}

div#offlineModeDrop {
	position : absolute;
	margin : 0px;
	padding : 2px;
	background-color : white;
	z-index : 2;
	margin : 2px 0px 0px 0px;
	top : auto;
	right : 0px;
	border : 1px solid #cccccc;
	background : white;
	min-width : 170px;
	margin-left : -1px;
	max-height : 250px;
	overflow : auto;
	color : #909090;
}

optgroup {
	color : #5050aa;
	font-style : normal;
}

option {
	color : black;
}

