body {
	padding : 0px;
	margin : 0px;
	font-family : sans-serif;
}

h1 {
	font-size : medium;	
}

h2 {
	font-size : medium;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #88b0ff;
}

h3 {
	font-size : medium;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #e0e0e0;
}

#heading {
/*	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #88b0ff;
	font-weight : bold;
	font-size : small; */

	font-size : small;

	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #88b0ff;
	background : #ecf4ff;
}

#content {
	background : white;
}

#footer {
/*	border-width : 1px 0px 0px 0px;
	border-style : solid;
	border-color : #88b0ff; */
	text-align : center;
	font-size : x-small;
	color : gray;

	border-width : 1px 0px 0px 0px;
	border-style : solid;
	border-color : #88b0ff;

}

form {
	padding : 0px;
	margin : 0px;
}

li.feedCatHolder {
	display : inline;
}

ul.feedList {
	list-style-type : none;
	margin : 0px;
	padding : 0px;

}

ul.feedList li.feedCat {
	margin : 0px;
	padding : 0px;
	color : #707070;
}

ul.feedList li.feedCat a {
	color : #707070;
}

ul.feedList li.feedCat a:hover {
	color : #4684ff;
}

ul.feedCatList {
	list-style-type : none;
	margin : 0px 0px 0px 1em;
	padding : 0px;	
}

ul.feedCatList li {
	margin : 0px;
	padding : 0px;
	color : black;
}

ul.feedList li {
	margin : 0px;
}

hr {
	border-width : 0px 0px 1px 0px;
	border-style : dashed;
	border-color : #e0e0e0;
}

ul.headlines a, ul.feedList a {
	color : black;
}

a {
	color : #4684ff;
	text-decoration : none;
}

a:hover {
	color : black;
}

ul.feedList img, img.tinyFeedIcon {
	margin : 0px 3px 0px 0px;
	width : 16px;
	height : 16px;
	border-width : 0px;
}

ul.feedlist li.feedUnread, 
ul.feedlist li.errorUnread, 
ul.feedlist li.labelUnread, 
ul.feedlist li.virtUnread,
ul.feedlist li.tagUnread {
	font-weight : bold;
}

.even {
/*	background-color : #9bbdff; */
	border-width : 0px 0px 1px 0px;
	border-color : #88b0ff;
	border-style : solid;
	background-color : #cbddff;
}

.odd {
	border-width : 0px 0px 1px 0px;
	border-color : #88b0ff;
	border-style : solid;
}

.evenUnread {
	border-width : 0px 0px 1px 0px;
	border-color : #88b0ff;
	border-style : solid;
/*	background-color : #9bbdff; */
	font-weight : bold;
	background-color : #cbddff;
}

.oddUnread {
	border-width : 0px 0px 1px 0px;
	border-color : #88b0ff;
	border-style : solid;
	font-weight : bold;
}

.evenSelected, .oddSelected, .evenUnreadSelected, .oddUnreadSelected {
	background-color : #fff7d5;
	border-width : 0px 0px 1px 0px;
	border-color : #88b0ff;
	border-style : solid;
}

.evenUnreadSelected, .oddUnreadSelected {
	font-weight : bold;
}

.invisible {
	display : none;
}

ul.headlines {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

ul.headlines span.hlUpdated {
	color : gray;
}

ul.headlines img.feedIcon {
	width : 25px;
	text-align : center;
}

ul.headlines img.marked {
	border-width : 0px;
}

div.postStarOps img.marked {
	border-width : 0px;
}

div.postTags {
	color : gray;
	font-size : small;
}

div.footerAddon {
	font-size : small;
}

.loginError {
	color : red;
	margin : 0.5em;
}

form.searchForm {
	margin : 5px;
}

div.postStarOps {
	float : right;
}
