#feeds-holder {
	border-width : 0px 1px 0px 0px;
	top : 0px;
	bottom : 0px;
	background : white;
}

#header {
	left : 270px;
}

#toolbar {
	font-size : small;
}

#toolbar input {
	font-size : small;
}

div.headlines_cdm {
	border-width : 1px 0px 0px 0px;
	bottom : 0px;
}

#content-frame {
	border-width : 1px 0px 0px 0px;
	bottom : 0px;
}

div.postReply {
	font-size : small;
	padding : 0px;
	margin : 0px;
}

div.postReply div.postHeader {
	border-width : 0px 0px 1px 1px;
}

#prefContent {
	bottom : 0px;
}

#footer, #prefFooter {
	display : none;
}

