body {
	background : white;
	color : black;
	margin : 0px;
	padding : 0px;
	font-family : sans-serif;
}

/* common styles */

div.postReply {
	background-image : url("images/vgrad_light_rev.png");
	background-position : top left;
	background-repeat : repeat-x;
	height : 100%;
	padding : 10px;
	margin-left : 1px;
}

div.postReply a {
	color : #5050aa;
}

div.postReply a:hover {
	color : black;
}

div.postReply div.postHeader {
	background : white;
	border : 1px solid #c0c0c0;
}

div.postReply > div.postHeader {
	padding : 5px;
}

div.postReply div.postContent {
	padding : 10px;
}

div.postReply div.postIcon {
	float : right;
	border : 0px;
	margin : 10px 0px 10px 10px;
}

ul.feedList {
	list-style-type : none;
	margin : 5px;
	padding : 0px 0px 0px 10px;
}

ul.feedList li.feedCat {
	margin : 0px;
	padding : 3px 0px 3px 0px;
	color : #707070;
}

ul.feedList li.feedCat span.catTitle {
	color : #707070;
}

ul.feedList li.feedCat span.catTitle:hover {
	color : #5050aa;
}

ul.feedCatList {
	list-style-type : none;
	margin : 0px 0px 0px 20px;
	padding : 0px;	
}

ul.feedCatList li {
	margin : 0px;
	padding : 0px 0px 0px 0px;
	color : black;
}

ul.feedList li {
	margin : 0px;
}

ul.feedlist li.feedUnread, 
ul.feedlist li.errorUnread, 
ul.feedlist li.labelUnread, 
ul.feedlist li.virtUnread,
ul.feedlist li.tagUnread {
	font-weight : bold;
}

ul.feedlist li.errorSelected a,
ul.feedlist li.error a,
ul.feedlist li.errorUnread a,
ul.feedlist li.errorUnreadSelected a {
	color : #f04040;
}

ul.feedlist li.feedSelected a,
ul.feedlist li.labelSelected a,
ul.feedlist li.virtSelected a,
ul.feedlist li.tagSelected a {
	color : #5050aa;
}

ul.feedlist li.feedUnreadSelected a,
ul.feedlist li.labelUnreadSelected a,
ul.feedlist li.virtUnreadSelected a,
ul.feedlist li.tagUnreadSelected a {
	color : #5050aa;
}

ul.feedlist li.feedUnreadSelected,
ul.feedlist li.errorUnreadSelected,
ul.feedlist li.labelUnreadSelected,
ul.feedlist li.virtUnreadSelected,
ul.feedlist li.tagUnreadSelected {
	font-weight : bold;
}

ul.feedList li.feed {
	display : block;
}

ul.feedList img, img.tinyFeedIcon {
	margin : 0px 3px 0px 0px;
	width : 16px;
	height : 16px;
	border-width : 0px;
}

h1 {
	font-size : 16pt;	
}

h2 {
	font-size : 14pt;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #e0e0e0;
}

h3 {
	font-size : 12pt;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #e0e0e0;
}

hr {
	border-width : 0px 0px 1px 0px;
	border-style : dashed;
	border-color : #e0e0e0;
}

a {
	color : black;
	text-decoration : none;
}

a:hover {
	color : #5050aa;
}

#notify {
	color : black;
	font-weight : bold;
	padding : 3px;
}

#dispSwitch {
	padding : 5px 5px 5px 0px;
	font-size : x-small;
	text-align : right;
}

#dispSwitch a {
	color : gray;
}

#dispSwitch a:hover {
	color : #5050aa;
}

iframe {
	border : 0px solid white;
}

iframe.feedsFrameWithActions {
	width : 100%;
	height : 90%;
	margin : 0px;
	padding : 0px;
}

iframe.feedsFrame {
	width : 100%;
	height : 100%;
	margin : 0px;
	padding : 0px;
}

iframe.contentFrame, iframe.headlinesFrame {
	width : 100%;
	padding : 0px;
	margin : 0px;
	height : 100%;
}

.button {
	border : 1px solid #d0d0d0;
	background-image : url("images/button.png");
	background-position : top;
	background-repeat : repeat-x;
	background-color : white;
}

.button:hover {
	background : white;
	text-decoration : none;
	color : black;
}

a.button {
	padding : 2px 5px 2px 5px;
	font-size : small;
}

.evenUnreadSelected, .evenSelectedUnread, .evenUnreadSelected td,
	.evenSelectedUnread td {
        background-color : #e0e0ff;
        font-weight : bold;
		  border-color : #778899;
}

.oddUnreadSelected, .oddSelectedUnread, .oddUnreadSelected td,
	.oddSelectedUnread td {
        background-color : #e0e0ff;
        font-weight : bold;
		  border-color : #778899;

}

.evenSelected, .evenSelected td {
        background-color : #e0e0ff;
		  border-color : #778899;
}

.oddSelected, .oddSelected td {
        background-color : #e0e0ff;
		  border-color : #778899;

}


.disabledButton {
	border : 1px solid #c0c0c0;
	background-color : white;
	color : gray;	
}


.evenGrayed, .evenGrayed td {
        background-color : #f0f0f0;
        color : #909090;
		  border-color : #88b0f0;
}

.oddGrayed {
        color : #909090;
}

.even, .even td {
		  border-color : #c0c0c0;
        background-color : #f0f0f0;
}

.odd, .odd td {
		  border-color : #c0c0c0;
}

.evenUnread, .evenUnread td {
        background-color : #f0f0f0;
        font-weight : bold;
		  border-color : #c0c0c0;
}

.oddUnread, .oddUnread td {
        font-weight : bold;
        background-color : #f0f0f0;
}

td > input, div > input {
	border : 1px solid #a0a0a0;
}

/* preferences */

tr.title td {
	border-width : 0px 0px 1px 0px;
	border-color : #f0f0f0;
	border-style : solid;
	font-size : small;
	color : gray;
}

tr.title td a {
	color : gray;
}

tr.title td a:hover {
	color : #5050aa;
}

div.prefFeedCatHolder {
	border : 1px solid #c0c0c0;
}

table.prefFeedList td.feedEditCat {
	font-size : large;
	border-color : #c0c0c0;
}

table.prefFilterList td.filterEditCat {
	font-size : large;
	border-color : #c0c0c0;
}

table.prefFeedList td.feedIcon {
	text-align : center;
}

table.prefFeedList td.feedSelect {
	text-align : center;
}

a.helpLink {
	color : #808080;
}

a.helpLink:hover {
	color : #5050aa;
}

div.helpResponse {
	margin : 10px;
	background-image : url("images/vgrad_light_rev2.png");
	background-position : top left;
	background-repeat : repeat-x;
	padding : 10px 20px 10px 20px;
	border : 1px solid #f0f0f0;
}

#userDlgShadow {
	z-index : 3;
	position : absolute;
	left : 30%;
	top : 30%;
	display : none;
	background-image : url("images/shadow.png");
}

#userDlg {
	padding : 15px;
	border : 1px solid #c0c0c0;
	font-size : small;
	position : relative;
	bottom : 2px;
	right : 2px;
	background-color : white;
	background-image : url("images/vgrad_light_rev2.png");
	background-position : top left;
	background-repeat : repeat-x;
}

#qafInput {
	width : 300px;
}

#infoBoxTitle {
	border-color : #c0c0c0;
	background-color : #c0c0c0;
	color : white;
}


#infoBox {
	border-color : #c0c0c0;
	font-size : small;
	background : white;
}

/*#infoBoxShadow {
	background-image : url("images/shadow.png");
	position : absolute;
	width : 30%;
	left : 35%;
	top : 30%;
	z-index : 3;
	display : none;
}*/

div.infoBoxContents {
	background-image : url("images/vgrad_light_rev2.png");
	background-position : top left;
	background-repeat : repeat-x;
}

div.helpResponse h1, div.infoBoxContents h1 {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	font-size : 16pt;
}

div.helpResponse h2, div.infoBoxContents h2 {
	border-width : 0px 0px 0px 0px;
	font-size : 12pt;
}

div.prefsTab {
	border-width : 1px 1px 0px 1px;
	border-color : #c0c0c0;
	border-style : solid;
	font-size : small;
	position : relative;
	bottom : 0px;
	border-collapse : collapse;
	-moz-border-radius : 3px;
	min-width : 100px;
	text-align : center;
	background-image : url("images/vgrad_light_rev2.png");
	background-position : top left;
	background-repeat : repeat-x;

}

div.prefsTabSelected {
	float : left;
	border-width : 1px 1px 0px 1px;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 0px 5px;
	padding : 3px 5px 3px 5px;
	font-size : small;
	position : relative;
	bottom : 0px;
	border-collapse : collapse;
	-moz-border-radius : 3px;
	font-weight : bold;
	min-width : 100px;
	text-align : center;
	background : #f0f0f0;
}

input.prefsTab {
	border-width : 1px 1px 0px 1px;
	border-color : #c0c0c0;	
	padding : 2px 7px 2px 7px;
	margin : 0px 1px 0px 0px;
	width : 130px;
	background-image : url("images/vgrad_light_rev2.png");
	background-position : top left;
	background-repeat : repeat-x;
	-moz-border-radius : 7px 7px 0px 0px;
	font-size : small;
}

input.prefsTabSelected {
	border-width : 1px 1px 0px 1px;
	border-color : #c0c0c0;	
	padding : 2px 7px 2px 7px;
	margin : 0px 1px 0px 0px;
	width : 130px;
	background : white;
	font-weight : bold;
	background-position : top left;
	background-repeat : repeat-x;
	-moz-border-radius : 7px 7px 0px 0px;
	font-size : small;
	color : black;
}

input.prefsTab:hover {
	background : white;
}

div.warning {
	background : #fffff0;
	border : 1px solid #c0c0c0;
	padding : 5px;
	margin : 5px;
	font-size : small;
}

div.notice {
	background : #ffffff;
	border : 1px solid #c0c0c0;
	padding : 5px;
	margin : 5px;
	font-size : small;
}

ul.nomarks {
	list-style-type : none;
	margin : 0px;
	padding : 10px;	
}

div.bigErrorMsg {
	border : 1px solid #c0c0c0;
	background : #fff0f0;
	padding : 30px;
	margin : 20px;
}

div.prefHelp, td.prefHelp {
	font-size : x-small;
	color : gray;
	padding : 5px;
}

table.loginForm {
	background-image : url("images/vgrad_light_rev.png");
	background-color : white;
	background-position : top left;
	background-repeat : repeat-x;
}

table.innerLoginForm {
	border : 1px solid #f0f0f0;
	padding : 50px;
	background-color : white;
}

table.innerLoginForm td {
	padding : 3px 3px 5px 3px;
}

span.insensitive {
	color : gray;
}

.prefGenericAddBox {
	margin : 5px;
	font-size : small;
}

.prefGenericAddBox td {
	font-size : small;
}

body.logoutBody {
	background-color : #f0f0f0;
	color : black;
}

span.logoutWarning {
	color : red;
	font-weight : bold;
}

div.logoutContent {
	width : 600px;
	border : 1px solid #c0c0c0;
	background-color : white;
	margin-left : auto;
	margin-right : auto;
	margin-top : 20px;
	padding : 10px;
}

.small {
	font-size : x-small;
}

table.innerFeedTable td {
	margin : 0px;
	padding : 0px;
}

td.selectPrompt {
	font-size : x-small;
	color : gray;
}

table.headlinesSubToolbar td {
	color : gray;
}

span.contentPreview {
	font-size : x-small;
	color : gray;
	font-weight : normal;
}

span.contentPreview:hover {
	color : #5050aa;
}

table.headlinesList td.hlMarkedPic {
	width : 25px;
	text-align : center;
}

table.headlinesList td.hlfeed {
	text-align : right;
	font-size : small;
}

td.hlSelectRow, td.hlUpdatePic {
	width : 25px;
	text-align : center;
}

table.headlinesList td.hlUpdated {
	font-size : small;
	color : gray;
	text-align : right;
	width : 100px;
}

table.headlinesList tr td {
	padding : 2px 0px 2px 0px;
}

div.postHeader td.postDate {
	font-size : x-small;
	text-align : right;
	color : gray;
}

div.postHeader td.postDateRTL {
	font-size : x-small;
	text-align : left;
	color : gray;
}

#feedUpdateErrors {
	display : none;
}

#allEntryTags {
	font-size : x-small;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	padding-bottom : 5px;
	display : none;
}

/*td.hlContent {
	overflow : hidden;
	height : 1em;
	display : block;
} */

td.hlMarkedPic, td.hlSelectRow, td.hlUpdated, td.hlFeed {
	height : 1em;
}

div.cdmArticle {
	border : 1px solid #f0f0f0;
	background-color : #fafafa;
	-moz-border-radius : 5px;
	margin : 10px 10px 0px 10px;
	padding : 10px;
}

div.cdmArticleUnread {
	border : 1px solid #d5f1f4;
	background-color : #fafeff;
	-moz-border-radius : 5px;
	margin : 10px 10px 0px 10px;
	padding : 10px;
}

div.cdmArticleSelected, div.cdmArticleUnreadSelected {
	border : 1px solid #d0d0f6;
	background-color : #eaeaff;
	-moz-border-radius : 5px;
	margin : 10px 10px 0px 10px;
	padding : 10px;
}

div.cdmArticleUnread div.cdmHeader a, div.cdmArticleUnreadSelected div.cdmHeader a {
	font-weight : bold;
}

div.cdmHeader {
	padding-bottom : 5px;
}

div.cdmFooter {
	font-size : x-small;
	color : gray;
	padding-top : 5px;
}

div.cdmFooter input, div.cdmHeader input, div.cdmFooter img {
	margin : 0px;
}

div.cdmHeader, div.cdmHeader a {
	color : gray;
	font-size : x-small;
}

div.cdmHeader a:hover {
	color : #5050aa;
}

div.cdmContent {
}

a.warning {
	color : #f04040;
}

img.closeButton {
	border-width : 0px;
	float : right;
}

span.groupPrompt {
	font-size : x-small;
	color : #505050;
}

ul.userFeedList {
	height : 300px;
	overflow : auto;
	list-style-type : none;
	border-color : #c0c0c0;
}

/* #browseBigFeedList li.oddSelected {
	border : 1px solid #d0d0f6;
	background-color : #eaeaff;
	-moz-border-radius : 5px;
} */

ul.browseFeedList {
	height : 300px;
	overflow : auto;
	list-style-type : none;
	margin : 0px 0px 5px 0px;
	padding : 0px;
	border-color : #c0c0c0;
}

ul.browseFeedList li {
	margin : 0px;
	padding : 0px;
}

span.subscribers {
	color : #808080;
}

div.subscribers {
	color : #808080;
	font-size : x-small;
	float : right;
}

input.feedBrowseCB {
	margin-right : 1em;
}

div.browserDetails {
	margin : 5px 5px 5px 5px;
	display : none;
	padding : 5px;
}

ul.compact {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

ul.compact li {
	margin : 0px;
	padding : 0px;
}

div.browserFeedInfo {
	font-size : x-small;
	border-color : #c0c0c0;
}

div.browserFeedInfo div.detailsPart {
	margin : 5px 0px 5px 5px;	
}

div.cdmContent a {
	color : #5050aa;
}

div.cdmContent a:hover {
	color : black;
}

/* layout */

#header {
	color : gray;
}

#feeds-holder {
	border-color : #c0c0c0;
}

#toolbar {
	background-image : url("images/vgrad_light.png");
	background-position : bottom left;
	background-repeat : repeat-x;
}

div.headlines_normal {
	border-color : #c0c0c0;
}

div.headlines_cdm {
	border-color : #c0c0c0;
}

#content-frame {
	border-color : #c0c0c0;
}

#prefFooter {
	display : none;
}

#footer {
	position : absolute;
	bottom : 0px;
	height : 20px;
	text-align : center;
	color : gray;
	font-size : x-small;
	background-image : url("images/vgrad_light_rev2.png");
	background-position : top left;
	background-repeat : repeat-x; 
	background-color : white;
	border-color : #c0c0c0;
	right : 0px;
	left : 0px;
	padding : 10px;
}

#headlinesContainer {
	background-color : white;
}

/* preferences layout */

#prefHeader {
	position : static;
	color : gray;
	margin : 10px;
}

div.return a {
	color : #5050aa;
}

div.return a:hover {
	color : black;
}

#prefContentOuter {
	background-image : url("images/vgrad_light_rev.png");
	background-position : top left;
	background-repeat : repeat-x;
	border-color : #c0c0c0;
}

#prefContent {
	background-image : url("images/vgrad_light_rev.png");
	background-position : top left;
	background-repeat : repeat-x;

}

div.topLinks a {
	color : #5050aa;	
}

div.tagCloudContainer {
	border : 1px solid #c0c0c0;
}

div.infoBoxContents a {
	color : #5050aa;
}

a.visibleLink {
	color : gray;
}

table.headlinesList tr.feedTitle td a, div.cdmFeedTitle a {
	color : #5050aa;
}

table.headlinesList tr.feedTitle td , div.cdmFeedTitle {
	background : white;
}

#resize-grabber {
	border-color : #c0c0c0;
	background : url("images/resize_horiz.png") top left;
}

