div.headlines_normal {
	position : absolute;
	border-width : 1px 0px 0px 0px;
	border-style : solid;
	border-color : #88b0f0;
	left : 260px;
	height : auto;
	top : 85px;
	right : 35%;
	bottom : 40px;
	overflow : hidden;
	font-size : small;
	border-collapse : collapse;
}

div.headlines_cdm {
	position : absolute;
	border-width : 1px 0px 1px 0px;
	border-style : solid;
	border-color : #88b0f0;
	left : 260px;
	bottom : 40px;
	top : 85px;
	width : 300px;
	overflow : auto;
	font-size : small;
	border-collapse : collapse;
}

table.headlinesSubToolbar {
	height : 25px;
}

div.postReply {
	background : white;
}

#headlinesInnerContainer {
	overflow : auto;
	position : absolute;
	top : 25px;
	height : auto;
	bottom : 0px;
	left : 0px;
	right : 0px;
}

#content-frame {
	position : absolute;
	border-width : 1px 0px 1px 1px;
	border-style : solid;
	border-color : #88b0f0;
	overflow : auto;
	top : 85px;
	left : 65%;
	bottom : 40px;
	right : 0px;
	border-collapse : collapse;
}

